---
---

@import "{{ site.theme }}";

ul.contact {
    padding: 0;
    > li{
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
}

.post-listing {
    margin-bottom: 0px;
}

  body {
    word-wrap:break-word;
  }

  header {
    padding:0;
  }

  header ul, header p.view {
    position:static;
  }

  pre, code {
    word-wrap:normal;
  }